
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*^^^RESET^^^*/

  * {
    text-align: center;
    font-family: 'Fredoka One', cursive;
  }

  #header{grid-area: head;}
  #Rock{grid-area: rock;}
  #Paper{grid-area: paper;}
  #Scissors{grid-area: scis;}
  #computer{
    grid-area: comp;
    align-self: center;
  }
  #player-score{
    grid-area: pscore;
    align-self: center;
  }
  #computer-score{
    grid-area: cscore;
    align-self: center;
  }
  #round-win-message{grid-area: rwin;}
  #game-win-message{
    grid-area: gwin;
    background-color: khaki;
    
  }

  #grid-daddy{
    padding: 25px;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-areas: 
    'head head head'
    'rock . comp'
    'paper . comp'
    'scis . comp'
    'pscore . cscore'
    'rwin rwin rwin'
    'gwin gwin gwin';
  }

  .far{
    transform: scale(4);
  }

  #comp-icon{
    transform: scale(6);
  }
  