
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*^^^RESET^^^*/

  * {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    touch-action: manipulation;
  }

  #header{
    grid-area: head;
    font-size: 42px;
  }
  #Rock{grid-area: rock;}
  #Paper{grid-area: paper;}
  #Scissors{grid-area: scis;}
  #computer-container{
    grid-area: comp;
    align-self: center;
  }
  #player-score{
    grid-area: pscore;
    align-self: center;
  }
  #computer-score{
    grid-area: cscore;
    align-self: center;
  }
  #round-win-message{grid-area: rwin;}
  #game-win-message{
    grid-area: gwin;
  }
  #play-again{
    grid-area: play;
  }

  #grid-daddy{
    padding: 25px;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-areas: 
    'head head head'
    'rock . comp'
    'paper . comp'
    'scis . comp'
    'pscore . cscore'
    'rwin rwin rwin'
    'gwin gwin gwin'
    '. play .';
  }

  .far{
    transform: scale(4);
  }

  .fa-robot{
    transform: scale(6);
    color: red;
  }
  
  .low{
    font-size: 28px;
  }

  #game-win-message{color: red;}

  button{
    background-color:#ceecff;
    color:mediumblue;
  }

  button:hover{
    background-color:#b0e0fd;
  }
