
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*^^^RESET^^^*/

  h1 {
    text-align: center;
  }

  #header{grid-area: head;}
  #rock{grid-area: rock;}
  #paper{grid-area: paper;}
  #scissors{grid-area: scis;}
  #computer{grid-area: comp}
  #player-score{grid-area: pscore;}
  #computer-score{grid-area: cscore;}
  #round-win-message{grid-area: rwin}
  #game-win-message{grid-area: gwin;}

  #grid-daddy{
    display: grid;
    grid-template-areas: 
    'head head head'
    'rock . comp'
    'paper . comp'
    'scis . comp'
    'pscore . cscore'
    'rwin rwin rwin'
    'gwin gwin gwin';
  }

  .grid-baby{

  }

  

  